body {
	background: #F8F8F8;
	margin: 0;
	padding: 0;
}
.header {
	background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
	border-top: 2px solid #D9FFF5;
}
.swiper-wrapper {
	min-height: 100%;
	padding: 30px;
}
.swiper-slide img {
	max-width: 70%;
}
.main {
	background: #F8F8F8;
	min-width: 0;
}

.swiper-slide {
	background-color: white;
	border: 2px solid #D9FFF5;
	border-radius: 6px;
	min-height: 50px;
	padding: 10px;
}
.swiper-wrapper__logo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.swiper-wrapper__button {
	height: 35px;
	position: absolute;
	right: 20px;
	top: 18px;
}
.title {
	color: #7E7E82;
	font-family: TT Lakes;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -0.20000000298023224px;
	line-height: 24px;
	padding: 20px;
	text-align: left;
}

.show-all-button {
	font-family: TT Lakes;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.20000000298023224px;
	text-align: left;
	border: none;
	background-color: #F8F8F8;
	position: relative;
	left: 60px;
	bottom: 60px;

	@media screen and (max-width: 767px) { 
		display: none;
	};
	}


.show-all-button::before  {
	content:""; 
	width: 16px;
	height: 16px;
	border-bottom: 2px solid #41F6D7;
	border-left: 2px solid #41F6D7;
	left: -17px;
	position: absolute;
	top: 40%;
	transform: translateY(-50%) rotate(316deg) scale(0.7);
  } 

.hidden {
	display: none;
}

@media screen and (min-width: 768px) {
	.menu {
		display: flex !important;
		flex-direction: row;
		flex-wrap: wrap;
		height: 500px !important; 
	}
	
	.menu-container {
		height: 300px;
	} 

	.menu__item {
		padding-left: 5px;
		padding-bottom: 10px;
	}
}

