.address {
	display: flex;
	flex-direction: column;
}

.address__mail {
	font-family: TT Lakes;
	font-size: 16px;
	text-align: left;
	padding-left: 35px;
	margin: 0;
	padding-bottom: 15px;
	color: inherit;
  	text-decoration: none;
}
.address__number {
	font-family: TT Lakes;
	font-size: 24px;
	font-weight: 700;
	text-align: left;
	padding-left: 35px;
	margin: 0;
	padding-bottom: 15px;
	color: inherit;
  	text-decoration: none;
}
