
$primary-bg-color: white;
$second-bg-color: #F8F8F8;

@media (max-width: 1119px) {
    
.application-btn {
    border: none;
    background-color: white;
    position: relative;
    p {
        display: none;
    }
    &::before {
        content: ' ';
        background: #EAEAEA;
        position: absolute;
        height: 40px;
        width: 2px;
        left: -15px;
        top: 5px;
    }
}

.application-btn__repair {
    border: none;
    background-color: $primary-bg-color;
}

.application-btn__checkstatus {
    border: none;
    background-color: $primary-bg-color;
}

.application-btn__repair,
.application-btn__checkstatus {
    border: 2px solid white;
    &:hover {
        background-color: white;
        border: 2px solid rgba(184, 255, 236, 1);
        border-radius: 6px 6px 6px 6px;
    }
}

@media (min-width: 767px) {
    .application-btn {
        position: relative;
        p {
            display: none;
        }
        &::before {
            content: ' ';
            background: #EAEAEA;
            position: absolute;
            height: 40px;
            width: 2px;
            left: -30px;
            top: 5px;
        }
    }
}

}

@media (min-width: 1119px) {
    .application-btn {
        display: flex;
        flex-direction: row;
        background-color: $second-bg-color;
        position: absolute;
        right: 20px;
        top: 60px;
        p {
            display: flex;
            font-family: TT Lakes;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.20000000298023224px;
            text-align: right;
        }
        img {
            margin-top: 5px;
        }
    }

    .application-btn__repair {
        border: none;
        display: flex;
        flex-direction: row;
        background-color: $second-bg-color;
        border: 2px solid #F8F8F8;

        img {
            padding-left: 15px;
        }
    }
    
    .application-btn__checkstatus {
        border: none;
        background-color: $second-bg-color;
        display: flex;
        flex-direction: row;
        border: 2px solid #F8F8F8;
        img {
            padding-left: 15px;
        }
    }
}
