.burger-button {
        background-color: white;
		border: 2px solid white;
		margin-left: 10px;
        &:active {
            background-color: white;
            border: 2px solid rgba(184, 255, 236, 1);
            border-radius: 6px 6px 6px 6px;
        }
}


@media (min-width: 767px) {
    .burger-button {
     position: relative;
        &::after {
            content: " ";
            background: #EAEAEA;;
            width: 2px;
            height: 40px;
            right: -20px;
            position: absolute;
            top: 5px;
     }
    }
}

@media (min-width: 1119px) {
    .burger-button {
        display: none;
    }
}