$white-bg-color: #FFFFFF;
$gray-bg-color: #F8F8F8;
$divider-color: #EAEAEA;
$border-color: rgba(184, 255, 236, 1);
$show-all-button-color: #41F6D7;
$title-color:#7E7E82;


.burger-button {
        background-color: $white-bg-color;
		border: 2px solid $white-bg-color;
		margin-left: 10px;
        &:active {
            background-color: $white-bg-color;
            border: 2px solid $border-color;
            border-radius: 6px 6px 6px 6px;
        }
}


@media (min-width: 767px) {
    .burger-button {
     position: relative;
        &::after {
            content: " ";
            background: $divider-color;
            width: 2px;
            height: 40px;
            right: -20px;
            position: absolute;
            top: 5px;
     }
    }
}

@media (min-width: 1366px) {
    .burger-button {
        display: none;
    }
}