.company-info {
  display: flex;
	flex-direction: column;
}



@media (min-width: 767px) {
  .company-info {
  display: flex;
  flex-direction: row;
  }

  .company-info__picture {
    position: relative;
    top: 40px;
  }
} 

@media (min-width: 1366px) {
  .company-info__picture {
    height: 350px;
  }

  .company-info__picture {
    position: relative;
    top: 40px;
    img {
    height: 250px;
    }
  }
} 

@media (min-width: 1600px) {
  .company-info__picture {
    height: 240px;
  }

  .company-info__picture {
    position: relative;
    top: 40px;
    img {
    height: 190px;
    }
  }
} 