.feedback-close-button {
  border: none;
  background-color: $white-bg-color;
  padding: 10px;
}

@media (min-width: 767px) {
  .feedback-close-button {
    position: absolute;
    background: none;
    width: 40px;
    height: 40px;
    left: -100px;
    z-index: 999;
    top: 40px;
  }
}