.feedback-form {
  padding: 10px;
}

.feedback-form__field {
 margin: 10px;
 width: 280px;
  height: 48px;
  gap: 0px;
  border: 1px solid #EAEAEA;
  border-radius: 6px 6px 6px 6px;
  &::placeholder  {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #B5B6BC;
    padding-left: 10px;
  }
}

.feedback-form__textarea {
  width: 280px;
  height: 118px;
  border: 1px solid #EAEAEA;
  margin: 10px;
  resize: none;
  &::placeholder  {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #B5B6BC;
    padding-left: 10px;
  }
}

.feedback-form__text {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #7E7E82;
  padding-left: 12px;
  span {
    color: #FF3E79;
  }
}

.feedback-form__button {
  background-color: white;
  border: none;
  position: absolute;
  right: 10px;
  &:hover {
    filter: hue-rotate(150deg);
    transition-duration: 1s;
  }
}
