$white-bg-color: #FFFFFF;
$border-color: rgba(184, 255, 236, 1);
$gray-bg-color: #F8F8F8;

.header {
    align-content: center;
    align-items: center;
    background-color: $white-bg-color;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (min-width: 1120px) {
    .header {
    background-color: $gray-bg-color;
    border: none;
    }
}