.main-menu {
    display: flex;
		flex-direction: row;
		justify-content: space-around;
		list-style-type: none;
		margin: 0;
		overflow-x: scroll;
		overflow-y: hidden;
		padding: 0;
		white-space: nowrap;
    -webkit-scrollbar { display: none; }
  scrollbar-width: none; 
  -ms-overflow-style: none;
}