$form-text-color: #7E7E82;

@media (max-width: 676px) {
 .price-menu__item--title {
  display: none;
 }
}

.price-menu__button--img {
  height: 30px;
  width: 90px;
}

.price-menu__text--mobile {
  color: $form-text-color;
}

  .price-menu__button {
    position: absolute;
    bottom: 10px;
    right: 20px;
    &:hover {
      filter: hue-rotate(150deg);
      transition-duration: 1s;
    }
  }
  
  .price-pagination {
    padding: 20px;
    position: relative;
    top: 30px;
    padding: 20px;
  }
    
  .price-menu__item {
    background-color: $white-bg-color;
    border: 2px solid $border-color;
    border-radius: 6px;
    padding-left: 5px;
    height: 170px;
    width: 220px;
    p {
      font-family: TT Lakes;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
      padding: 0;
      margin: 7px 0;
    }
  }
  
  
  @media screen and (min-width: 768px) {
    
    .price-menu__text--mobile {
      display: none;
    }

    .price-menu {
      display: flex;
      flex-direction: column;
      width: 90vw;
      margin-right: 50px;
    }
  

    .price-pagination {
      display: none;
    }
    
    .price-menu__item {
      background-color: $white-bg-color;
      border: none;
      padding: 10px;
      height: 50px;
      width: 640px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 10px;
    }


    .price-menu__button {
      position: static;
      flex-basis: 12.5%;
  text-align: right;
  &:hover {
    filter: hue-rotate(150deg);
    transition-duration: 1s;
  }
    }

    .price-menu__item p:nth-child(2) {
      flex-basis: 50%;
      text-align: left;
}

.price-menu__item p:not(:nth-child(2)) {
  flex-basis: 12.5%;
  text-align: center;
}

.price-menu__item--title {
  background-color: $gray-bg-color;
}

.price-menu-container {
 margin-right: 10px;
}

.price-menu__button--title {
  visibility: hidden;
}
  }
   
  
  
 @media screen and (min-width: 1023px) {
  .price-menu {
    width: 90vw;
  }

  .price-menu__item {
    height: 50px;
    width: 92vw;
  }
}

@media screen and (min-width: 1366px) {
  .price-menu {
    width: 70vw;
  }

  .price-menu__item {
    height: 50px;
    width: 71vw;
  }
}

@media screen and (min-width: 1600px) {
  .price-menu {
    width: 50vw;
  }

  .price-menu__item {
    height: 50px;
    width: 50vw;
  }
}