.services-title {
  font-family: TT Lakes;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  position: relative;
  left: 30px;
  bottom: 20px;
  &::before {
    content: '';
    background-color: $show-all-button-color;
    width: 5px;
    height: 30px;
    position: absolute;
    left: -30px;
    border-radius: 0 40% 40% 0;
    top: 4px;
  }
}

@media (min-width: 1600px) {
  .services-title {
    &::before {
      display: none;
  }
}
}