@import '~normalize.css/normalize.css';
@import '../fonts/stylesheet-fonts.css';
@import 'variable.scss';
@import 'common-container.scss';
@import 'header.scss';
@import 'burger-button.scss';
@import 'service-btn.scss';
@import 'application-btn.scss';
@import 'logo.scss';
@import 'main.scss';
@import 'services-title.scss';
@import 'main-menu.scss';
@import 'main-menu__item.scss';
@import 'company-info.scss';
@import 'text-field.scss';
@import 'brand-section-header';
@import 'brand-section-title';
@import 'brand-menu.scss';
@import 'repair-header.scss';
@import 'repair-title.scss';
@import 'repair-menu.scss';
@import 'price-title.scss';
@import 'price-header.scss';
@import 'price-menu.scss';
@import 'commercial-proposal.scss';
@import 'footer.scss';
@import 'feedback.scss';
@import 'call.scss';
@import 'aside-header.scss';
@import 'aside-header-buttons.scss';
@import 'aside-menu.scss';
@import 'aside.scss';
@import 'aside-footer.scss';
@import 'aside-footer-buttons.scss';
@import 'languages-buttons.scss';
@import 'aside-main.scss';
@import 'address.scss';
@import 'call-header.scss';
@import 'call-close-button.scss';
@import 'call-form.scss';
@import 'call-title.scss';
@import 'feedback-header.scss';
@import 'feedback-close-button.scss';
@import 'feedback-form.scss';
@import 'feedback-title.scss';



@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F8F8F8;
  box-sizing: border-box;
  height: 100vh;
}

.body--opacity {
  opacity: 0.05;
}