.text-field {
  padding: 20px;
  .text-field__text {
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    font-weight: 400;
  }
}

.text-field__button {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  font-weight: 600;
  border: none;
  background: $gray-bg-color;
  display: flex;
  flex-direction: row;
  border: 2px solid $gray-bg-color;
  width: 140px;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
}


.text-field__button:hover {
	background-color: $white-bg-color;
	border: 2px solid $border-color;
	border-radius: 6px;
}

.text-field__button::before {
	color: $show-all-button-color;
	content: "❯❯";
	margin-right: 5px;
	rotate: 90deg;
	transition: transform 0.1s ease;
  top: 5px;
}

.text-field__button.text-field__button--active::before {
	transform: rotate(180deg);
}

.text-field__text--hidden {
  max-height: 96px;
  overflow: hidden;
} 

@media (min-width: 767px) {
  .text-field {
    display: flex;
    flex-direction: column;
    .text-field__text {
      font-size: 20px;
    }
  }

  .text-field__button {
    height: auto;
    width: 150px;
  }
 
  .text-field__text--hidden {
    max-height: 141px;
    overflow: hidden;
  } 
}

@media (min-width: 1366px) {
  .text-field__text--hidden {
    max-height: 144px;
    overflow: hidden;
  } 
}

@media (min-width: 1440px) {
  .text-field__button {
  display: none;
  }

  .text-field__text--hidden {
    max-height: none;
    overflow: hidden;
  } 
}
