body {
  $white-bg-color: #FFFFFF;
  $gray-bg-color: #F8F8F8;
  $divider-color: #EAEAEA;
  $border-color: rgba(184, 255, 236, 1);
  $show-all-button-color: #d6f0eb;
  $title-color:#7E7E82;
  $pink-form-color:#FF3E79;
  $form-placeholder-color: #B5B6BC;
  $form-text-color: #7E7E82;
  $title-color:#7E7E82;
}